.paopao-wrap{
    position: absolute;
}


.avatar{
    overflow: none;
    .paopao{
        left: -5px;
    }
}
.paopao {
  width: 45px;
  height: 45px;
  bottom: 0;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  position: relative;
  div,span{
      position: absolute;
  }
  
  .chewing {
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    box-shadow: inset 10px -6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    -webkit-animation: bounce 0.6s ease-in-out infinite;
    animation: bounce 0.6s ease-in-out infinite;
    .eye {
        background: #fff;
        border-radius: 50%;
        border-top: 1px solid #111;
        span {
            width: 2px;
            height: 2px;
            background: #232323;
            border-radius: 2px;
        }
        
        &.left {
            top: 15px;
            left: 10px;
            width: 15px;
            height: 14px;
            -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
            span {
                top: 7px;
                left: 7.5px;
            }
            
        }
        &.right {
            top: 17.5px;
            right: 10px;
            width: 10px;
            height: 10px;
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            span {
                top: 4.5px;
                left: 3.5px;
            }
        }
        
    }
    .mounth {
        width: 8px;
        height: 2px;
        bottom: 10px;
        background: #fff;
        border-radius: 50% 50% 100% 100%;
    }
    .arm {
        width: 15px;
        height: 16px;
        bottom: 28px;
        border-radius: 7px;
        z-index: -1;
        -webkit-animation: arm-bounce 0.7s ease-in infinite;
        animation: arm-bounce 0.7s ease-in infinite;
        &.left {
        left: -13px;
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        }
        &.right {
            right: -13px;
            -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
        }
    }
    
  }

  .shadow {
    width: 35px;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background: #262227;
    box-shadow: 0 0 5px #262227;
    -webkit-animation: shadow 0.7s ease-in-out infinite;
    animation: shadow 0.7s ease-in-out infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
   }
   
   
   //fen
   
   &#paopaoU {
        z-index: 30;
        .chewing {
            background: rgb(144, 137, 137);
        }
    
        .mounth {
            left: 22px;
        }
        
        .arm {
            background: rgb(144, 137, 137);
        }
    
    }
    
    &#orange {
        left: 31%;
        z-index: 20;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        .chewing {
            background: #f0a524;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }
        
        .mounth {
            left: 37px;
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
            -webkit-animation: mounth 0.7s ease-in-out infinite;
            animation: mounth 0.7s ease-in-out infinite;
        }
        .arm {
            background: #f0a524;
        }
        
    }
    
    &#blue {
        left: 64%;
        z-index: 20;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        .chewing {
            background: royalblue;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
        .mounth {
            left: 37px;
            width: 20px;
            height: 5px;
            -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
            -webkit-animation: mounth 0.7s ease-in-out infinite;
            animation: mounth 0.7s ease-in-out infinite;
        }
        
        .arm {
            background: royalblue;
        }
        
    }
    
    
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  65% {
    bottom: 8px;
  }
  100% {
    bottom: 0;
    border-radius: 49% 47% 42% 40%/60% 60% 40% 40%;
  }
}
@keyframes arm-bounce {
  0%, 100% {
    bottom: 28px;
  }
  33% {
    bottom: 23px;
  }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  66% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shadow {
  0%, 100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }
}
@keyframes mounth {
  0%, 100% {
    height: 4px;
    border-radius: 50% 50% 100% 100%;
  }
  50% {
    height: 8px;
    bottom: 17px;
    border-radius: 30% 30% 100% 100%;
  }
}