*{
    padding: 0px; 
    margin:0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: Helvetica, Arial,Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}
i{
    font-style: normal;
}
a{
    color: #FFF;
}